$white: #fff;
$green-light: #EAF0ED;
$green-dark: #3F5D45;
$yellow: #FFE180;

/*default font size: 16px*/
$font-s: 16x;
$font-m: 20px;
$font-l: 24px;
$font-xl: 36px;
$font-family: Microsoft JhengHei;
$font-family-special: LiSong Pro;
$font-family-en: 'Times New Roman', Times, serif;
$font-family-bold: 'Noto Serif TC', serif;